# Cleaning movies database for Tableau visualization

![spiderman](images/movie.jpg)

## Project Details
You are a business analyst consultant and your client is a new movie production company looking to make a new movie. The client wants to make sure it’s successful to help make a name for the new company. They are relying on you to help understand movie trends to help inform their decision making. They’ve given you guidance to look into three specific areas:

Question 1: How have movies based on novels performed relative to movies not based on novels?
<br>
Question 2: How do the attributes differ between Universal Pictures and Paramount Pictures?
<br>
Question 3: How have movie genres changed over time?

## Getting Started

In [1]:
# Import the libraries needed
import pandas as pd
import numpy as np
import re
import calendar

The original data used for the analysis can be downloaded from the following [link](https://d17h27t6h515a5.cloudfront.net/topher/2017/January/587e7057_movies/movies.csv). When I tried to open the file directly using pandas read_csv module, I ran into following error- "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xcc in position 12: invalid continuation byte". So I had to open the file in Sublime Text and save it with utf-8 encoding. This allowed me to open the file using pandas read_csv module.

In [2]:
# Load the data into a pandas dataframe
movies = pd.read_csv("data/movies.csv")
movies

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09
5,281957,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,http://www.foxmovies.com/movies/the-revenant,Alejandro González Iñárritu,"(n. One who has returned, as if from the dead.)",...,"In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,2015-12-25,3929,7.2,2015,1.241999e+08,4.903142e+08
6,87101,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,http://www.terminatormovie.com/,Alan Taylor,Reset the future,...,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,2015-06-23,2598,5.8,2015,1.425999e+08,4.053551e+08
7,286217,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,http://www.foxmovies.com/movies/the-martian,Ridley Scott,Bring Him Home,...,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,2015-09-30,4572,7.6,2015,9.935996e+07,5.477497e+08
8,211672,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,http://www.minionsmovie.com/,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses",...,"Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,2015-06-17,2893,6.5,2015,6.807997e+07,1.064192e+09
9,150540,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,http://movies.disney.com/inside-out,Pete Docter,Meet the little voices inside your head.,...,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,3935,8.0,2015,1.609999e+08,7.854116e+08
10,206647,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|Léa Seydoux|Ralph...,http://www.sonypictures.com/movies/spectre/,Sam Mendes,A Plan No One Escapes,...,A cryptic message from Bond’s past sends him o...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,2015-10-26,3254,6.2,2015,2.253999e+08,8.102203e+08
11,76757,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,http://www.jupiterascending.com,Lana Wachowski|Lilly Wachowski,Expand your universe.,...,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2015-02-04,1937,5.2,2015,1.619199e+08,1.692686e+08
12,264660,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,http://exmachina-movie.com/,Alex Garland,There is nothing more human than the will to s...,...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,2015-01-21,2854,7.6,2015,1.379999e+07,3.391985e+07
13,257344,tt2120120,5.984995,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,http://www.pixels-movie.com/,Chris Columbus,Game On.,...,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,2015-07-16,1575,5.8,2015,8.095996e+07,2.241460e+08
14,99861,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,http://marvel.com/movies/movie/193/avengers_ag...,Joss Whedon,A New Age Has Come.,...,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,2015-04-22,4304,7.4,2015,2.575999e+08,1.292632e+09
15,273248,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,http://thehatefuleight.com/,Quentin Tarantino,No one comes up here without a damn good reason.,...,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,2015-12-25,2389,7.4,2015,4.047998e+07,1.432992e+08
16,260346,tt2446042,5.749758,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,http://www.taken3movie.com/,Olivier Megaton,It Ends Here,...,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,2015-01-01,1578,6.1,2015,4.415998e+07,2.997096e+08
17,102899,tt0478970,5.573184,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,http://marvel.com/movies/movie/180/ant-man,Peyton Reed,Heroes Don't Get Any Bigger,...,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,2015-07-14,3779,7.0,2015,1.195999e+08,4.771138e+08
18,150689,tt1661199,5.556818,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,NaN,Kenneth Branagh,Midnight is just the beginning.,...,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,2015-03-12,1495,6.8,2015,8.739996e+07,4.989630e+08
19,131634,tt1951266,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,http://www.thehungergames.movie/,Francis Lawrence,The fire will burn forever.,...,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,2015-11-18,2380,6.5,2015,1.471999e+08,5.984813e+08
20,158852,tt1964418,5.462138,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,http://movies.disney.com/tomorrowland,Brad Bird,Imagine a world where nothing is impossible.,...,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,2015-05-19,1899,6.2,2015,1.747999e+08,1.923127e+08
21,307081,tt1798684,5.337064,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,NaN,Antoine Fuqua,Believe in Hope.,...,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,2015-06-15,1386,7.3,2015,2.759999e+07,8.437300e+07
22,254128,tt2126355,4.907832,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,http://www.sanandreasmovie.com/,Brad Peyton,"A rescue pilot survived an earthquake, this is...",...,In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,2015-05-27,2060,6.1,2015,1.012000e+08,4.328514e+08
23,216015,tt2322441,4.710402,40000000,569651467,Fifty Shades of Grey,Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...,https://www.facebook.com/fiftyshadesofgreymovie,Sam Taylor-Johnson,Are you curious?,...,When college senior Anastasia Steele steps in ...,125,Drama|Romance,Focus Features|Trigger Street Productions|Mich...,2015-02-11,1865,5.3,2015,3.679998e+07,5.240791e+08
24,318846,tt1596363,4.648046,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,http://www.thebigshortmovie.com/,Adam McKay,This is a true story.,...,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,2015-12-11,1545,7.3,2015,2.575999e+07,1.226787e+08
25,177677,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,http://www.missionimpossible.com,Christopher McQuarrie,Desperate Times. Desperate Measures.,...,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,2015-07-23,2349,7.1,2015,1.379999e+08,6.277435e+08
26,214756,tt2637276,4.564549,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,NaN,Seth MacFarlane,"Ted is Coming, Again.",...,Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,2015-06-25,1666,6.3,2015,6.255997e+07,1.985944e+08
27,207703,tt2802144,4.503789,81000000,403802136,Kingsman: The Secret Service,Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...,http://www.kingsmanmovie.com/,Matthew Vaughn,Manners maketh man.,...,The story of a super-secret spy organization t...,130,Crime|Comedy|Action|Adventure,Twentieth Century Fox Film Corporation|Marv Fi...,2015-01-24,3833,7.6,2015,7.451997e+07,3.714978e+08
28,314365,tt1895587,4.062293,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,http://www.spotlightthefilm.com,Tom McCarthy,Break the story. Break the silence.,...,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,1559,7.8,2015,1.839999e+07,8.127872e+07
29,294254,tt4046784,3.968891,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,http://mazerunnermovies.com,Wes Ball,The Maze Was Just the Beginning.,...,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,2015-09-09,1849,6.4,2015,5.611998e+07,2.863562e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,38720,tt0061170,0.239435,0,0,Walk Don't Run,Cary Grant|Samantha Eggar|Jim Hutton|John Stan...,NaN,Charles Walters,"Run, don't walk to see Walk, Don't Run.",...,"British industrialist Sir William Rutland - ""B...",114,Comedy|Romance,Columbia Pictures Corporation,1966-01-01,11,5.8,1966,0.000000e+00,0.000000e+00
10837,19728,tt0060177,0.291704,0,0,The Blue Max,George Peppard|James Mason|Ursula Andress|Jere...,NaN,John Guillermin,There was no quiet on the Western Front!,...,"A young pilot in the German air force of 1918,...",156,War|Action|Adventure|Drama,Twentieth Century Fox Film Corporation,1966-06-21,12,5.5,1966,0.000000e+00,0.000000e+00
10838,22383,tt0060862,0.151845,0,0,The Professionals,Burt Lancaster|Lee Marvin|Robert Ryan|Woody St...,NaN,Richard Brooks,"Rough, tough and ready.",...,The Professionals is a 1966 American Western f...,117,Action|Adventure|Western,Columbia Pictures,1966-11-01,21,6.0,1966,0.000000e+00,0.000000e+00
10839,13353,tt0060550,0.276133,0,0,"It's the Great Pumpkin, Charlie Brown",Christopher Shea|Sally Dryer|Kathy Steinberg|A...,NaN,Bill Melendez,Every year he rises from the pumpkin patch...,...,"This classic ""Peanuts"" tale focuses on the thu...",25,Family|Animation,Warner Bros. Home Video,1966-10-27,49,7.2,1966,0.000000e+00,0.000000e+00
10840,34388,tt0060437,0.102530,0,0,Funeral in Berlin,Michael Caine|Paul Hubschmid|Oskar Homolka|Eva...,NaN,Guy Hamilton,NaN,...,"Colonel Stok, a Soviet intelligence officer re...",102,Thriller,Lowndes Productions Limited,1966-12-22,13,5.7,1966,0.000000e+00,0.000000e+00
10841,42701,tt0062262,0.264925,75000,0,The Shooting,Will Hutchins|Millie Perkins|Jack Nicholson|Wa...,NaN,Monte Hellman,"Suspenseful desert pursuit in the ""High Noon"" ...",...,A hired gun seeks to enact revenge on a group ...,82,Western,Proteus Films,1966-10-23,12,5.5,1966,5.038511e+05,0.000000e+00
10842,36540,tt0061199,0.253437,0,0,Winnie the Pooh and the Honey Tree,Sterling Holloway|Junius Matthews|Sebastian Ca...,NaN,Wolfgang Reitherman,NaN,...,Christopher Robin's bear attempts to raid a be...,25,Animation|Family,NaN,1966-01-01,12,7.9,1966,0.000000e+00,0.000000e+00
10843,29710,tt0060588,0.252399,0,0,Khartoum,Charlton Heston|Laurence Olivier|Richard Johns...,NaN,Basil Dearden|Eliot Elisofon,"Where the Nile divides, the great Cinerama adv...",...,"English General Charles George Gordon, a devou...",134,Adventure|Drama|War|History|Action,Julian Blaustein Productions Ltd.,1966-06-09,12,5.8,1966,0.000000e+00,0.000000e+00
10844,23728,tt0059557,0.236098,0,0,Our Man Flint,James Coburn|Lee J. Cobb|Gila Golan|Edward Mul...,NaN,Daniel Mann,The ORIGINAL man of mystery!,...,When scientists use eco-terrorism to impose th...,108,Adventure|Comedy|Fantasy|Science Fiction,20th Century Fox,1966-01-16,13,5.6,1966,0.000000e+00,0.000000e+00
10845,5065,tt0059014,0.230873,0,0,Carry On Cowboy,Sid James|Jim Dale|Angela Douglas|Kenneth Will...,NaN,Gerald Thomas,How the west was lost!,...,Stodge City is in the grip of the Rumpo Kid an...,93,Comedy|Western,Peter Rogers Productions,1966-03-01,15,5.9,1966,0.000000e+00,0.000000e+00
10846,17102,tt0059127,0.212716,0,0,Dracula: Prince of Darkness,Christopher Lee|Barbara Shelley|Andrew Keir|Fr...,NaN,Terence Fisher,"DEAD for Ten Years DRACULA, Prince of Darkness...",...,"Whilst vacationing in the Carpathian Mountain,...",90,Horror,Seven Arts Productions|Hammer Film Productions,1966-01-09,16,5.7,1966,0.000000e+00,0.000000e+00
10847,28763,tt0060548,0.034555,0,0,Island of Terror,Peter Cushing|Edward Judd|Carole Gray|Eddie By...,NaN,Terence Fisher,How could they stop the devouring death...that...,...,A small island community is overrun with creep...,89,Science Fiction|Horror,Planet Film Productions|Protelco,1966-06-20,13,5.3,1966,0.000000e+00,0.000000e+00
10848,2161,tt0060397,0.207257,5115000,12000000,Fantastic Voyage,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,NaN,Richard Fleischer,A Fantastic and Spectacular Voyage... Through ...,...,The science of miniaturization has been unlock...,100,Adventure|Science Fiction,Twentieth Century Fox Film Corporation,1966-08-24,42,6.7,1966,3.436265e+07,8.061618e+07
10849,28270,tt0060445,0.206537,0,0,Gambit,Michael Caine|Shirley MacLaine|Herbert Lom|Joh...,NaN,Ronald Neame,Shirley MacLaine raises Michael Caine!,...,Harry Dean (Michael Caine) has a perfect plan ...,109,Action|Comedy|Crime,Universal Pictures,1966-12-16,14,6.1,1966,0.000000e+00,0.000000e+00
10850,26268,tt0060490,0.202473,0,0,Harper,Paul Newman|Lauren Bacall|Julie Harris|Arthur ...,NaN,Jack Smight,Harper takes a case - and the payoff is murder.,...,Harper is a cynical private eye in the best tr...,121,Action|Drama|Thriller|Crime|Mystery,Warner Bros.,1966-02-23,14,6.0,1966,0.000000e+00,0.000000e+00
10851,15347,tt0060182,0.342791,0,0,Born Free,Virginia McKenna|Bill Travers|Geoffrey Keen|Pe...,NaN,James Hill,From The Pages Of The Beloved Best Seller... A...,...,Born Free (1966) is an Open Road Films Ltd./Co...,95,Adventure|Drama|Action|Family|Foreign,High Road,1966-06-22,15,6.6,1966,0.000000e+00,0.000000e+00
10852,37301,tt0060165,0.227220,0,0,A Big Hand for the Little Lady,Henry Fonda|Joanne Woodward|Jason Robards|Paul...,NaN,Fielder Cook,All the action you can take...all the adventur...,...,A naive traveler in Laredo gets involved in a ...,95,Western,Eden Productions Inc.,1966-05-31,11,6.0,1966,0.000000e+00,0.000000e+00
10853,15598,tt0060086,0.163592,0,0,Alfie,Michael Caine|Shelley Winters|Millicent Martin...,NaN,Lewis Gilbert,Is any man an Alfie? Ask any girl!,...,The film tells the story of a young man who le...,114,Comedy|Drama|Romance,NaN,1966-03-29,26,6.2,1966,0.000000e+00,0.000000e+00
10854,31602,tt0060232,0.146402,0,0,The Chase,Marlon Brando|Jane Fonda|Robert Redford|E.G. M...,NaN,Arthur Penn,The chase is on!,...,Most everyone in town thinks that Sheriff Cald...,135,Thriller|Drama|Crime,Horizon Pictures|Columbia Pictures Corporation,1966-02-17,17,6.0,1966,0.000000e+00,0.000000e+00
10855,13343,tt0059221,0.141026,700000,0,The Ghost & Mr. Chicken,Don Knotts|Joan Staley|Liam Redmond|Dick Sarge...,NaN,Alan Rafkin,G-G-GUARANTEED! YOU'LL BE SCARED UNTIL YOU LAU...,...,Luther Heggs aspires to being a reporter for h...,90,Comedy|Family|Mystery|Romance,Universal Pictures,1966-01-20,14,6.1,1966,4.702610e+06,0.000000e+00
10856,20277,tt0061135,0.140934,0,0,The Ugly Dachshund,Dean Jones|Suzanne Pleshette|Charles Ruggles|K...,NaN,Norman Tokar,A HAPPY HONEYMOON GOES TO THE DOGS!...When a G...,...,The Garrisons (Dean Jones and Suzanne Pleshett...,93,Comedy|Drama|Family,Walt Disney Pictures,1966-02-16,14,5.7,1966,0.000000e+00,0.000000e+00
10857,5921,tt0060748,0.131378,0,0,Nevada Smith,Steve McQueen|Karl Malden|Brian Keith|Arthur K...,NaN,Henry Hathaway,Some called him savage- and some called him sa...,...,Nevada Smith is the young son of an Indian mot...,128,Action|Western,Paramount Pictures|Solar Productions|Embassy P...,1966-06-10,10,5.9,1966,0.000000e+00,0.000000e+00
10858,31918,tt0060921,0.317824,0,0,"The Russians Are Coming, The Russians Are Coming",Carl Reiner|Eva Marie Saint|Alan Arkin|Brian K...,NaN,Norman Jewison,IT'S A PLOT! ...to make the world die laughing!!,...,"Without hostile intent, a Soviet sub runs agro...",126,Comedy|War,The Mirisch Corporation,1966-05-25,11,5.5,1966,0.000000e+00,0.000000e+00
10859,20620,tt0060955,0.089072,0,0,Seconds,Rock Hudson|Salome Jens|John Randolph|Will Gee...,NaN,John Frankenheimer,NaN,...,A secret organisation offers wealthy people a ...,100,Mystery|Science Fiction|Thriller|Drama,Gibraltar Productions|Joel Productions|John Fr...,1966-10-05,22,6.6,1966,0.000000e+00,0.000000e+00
10860,5060,tt0060214,0.087034,0,0,Carry On Screaming!,Kenneth Williams|Jim Dale|Harry H. Corbett|Joa...,NaN,Gerald Thomas,Carry On Screaming with the Hilarious CARRY ON...,...,The sinister Dr Watt has an evil scheme going....,87,Comedy,Peter Rogers Productions|Anglo-Amalgamated Fil...,1966-05-20,13,7.0,1966,0.000000e+00,0.000000e+00
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,1966-06-15,11,7.4,1966,0.000000e+00,0.000000e+00

## Data clean up
If we look at the dataset the information needed to answer the questions isn't readily available. We need to do some preprocessing on relevant columns to dig out the information needed to answer the questions. 
<br>We will start by fixing the columns that pertain to the question we are trying to address.

**Question 1: How have movies based on novels performed relative to movies not based on novels?**
<br>
To address this question we need to find movies that are based on novels. This information is primarily available in `keywords` column and in `tagline` column. Instead of fixing the genres column for the entire dataset, I select few columns and make a subset of data to work with it.

In [389]:
movies_novels = movies[["id", "original_title", "keywords", "tagline"]].reset_index(drop = True)
movies_novels.head(10)

,id,original_title,keywords,tagline
0,135397,Jurassic World,monster|dna|tyrannosaurus rex|velociraptor|island,The park is open.
1,76341,Mad Max: Fury Road,future|chase|post-apocalyptic|dystopia|australia,What a Lovely Day.
2,262500,Insurgent,based on novel|revolution|dystopia|sequel|dyst...,One Choice Can Destroy You
3,140607,Star Wars: The Force Awakens,android|spaceship|jedi|space opera|3d,Every generation has a story.
4,168259,Furious 7,car race|speed|revenge|suspense|car,Vengeance Hits Home
5,281957,The Revenant,father-son relationship|rape|based on novel|mo...,"(n. One who has returned, as if from the dead.)"
6,87101,Terminator Genisys,saving the world|artificial intelligence|cybor...,Reset the future
7,286217,The Martian,based on novel|mars|nasa|isolation|botanist,Bring Him Home
8,211672,Minions,assistant|aftercreditsstinger|duringcreditssti...,"Before Gru, they had a history of bad bosses"
9,150540,Inside Out,dream|cartoon|imaginary friend|animation|kid,Meet the little voices inside your head.

As I went through the `keywords` column, I noticed that there are multiple phrases that could tell whether a movie is based on novel - `'based on novel'`, `'based on graphic novel'`, `'inspired by novel'` etc. In order to list all of the possible phrases we could be dealing with, I write a regular expression script to search for the first occurrence of phrase with `'novel'` in each row. The function returns either the phrase with `'novel'` in it or None.

In [390]:
def find_novel_from_keywords(keywords):
    try:
        match = re.search("(\|{0,1}[\w\s]*novel[\w\s]*\|{0,1})", keywords)
        if match:
            return match.group(0)
        else:
            return None
    except TypeError:
        return None
    
phrases_with_novel = set()
for text in set(movies_novels["keywords"].tolist()):
    pattern = find_novel_from_keywords(text)
    phrases_with_novel.add(pattern)

print(phrases_with_novel)

{'|inspired by novel', '|novelist', '|stolen novel|', '|based on graphic novel', '|based on novel', '|based on novel|', '|based on graphic novel|', '|novelist|', 'based on novel', '|tell all novel|', None, 'based on graphic novel|', 'based on novel|'}

Hmm! there are several phrases with `'novel'` in it, but only three phrases tell us if a movie is based on a novel. The three phrases are - `'based on novel'`, `'based on graphic novel'`, and `'inspired by novel'`. Next, we will create a column `based_on_novel_0` that looks for those three phrases from `keywords` column and returns True if the movie is novel based.

In [391]:
def find_novel_based_movie(keywords):
    try:
        match1 = re.search("(\|{0,1}based[\w\s]*novel\|{0,1})", keywords)
        match2 = re.search("(\|{0,1}inspired[\w\s]*novel\|{0,1})", keywords)
        if match1 or match2:
            return True
        else:
            return False
    except TypeError:
        return None
    
movies_novels["based_on_novel_0"] = movies_novels["keywords"].apply(find_novel_based_movie)  
movies_novels.head()

,id,original_title,keywords,tagline,based_on_novel_0
0,135397,Jurassic World,monster|dna|tyrannosaurus rex|velociraptor|island,The park is open.,False
1,76341,Mad Max: Fury Road,future|chase|post-apocalyptic|dystopia|australia,What a Lovely Day.,False
2,262500,Insurgent,based on novel|revolution|dystopia|sequel|dyst...,One Choice Can Destroy You,True
3,140607,Star Wars: The Force Awakens,android|spaceship|jedi|space opera|3d,Every generation has a story.,False
4,168259,Furious 7,car race|speed|revenge|suspense|car,Vengeance Hits Home,False

It is also quite likely that information for whether a movie is based on novel is in `tagline` column. Let us search `tagline` column for any phrase with novel in it.

In [392]:
def find_novel_from_tagline(tagline):
    try:
        match = re.search("(.*novel.*)", tagline)
        if match:
            return match.group(0)
        else:
            return None
    except TypeError:
        return None
    
phrases_with_novel_1 = set()
for text in set(movies_novels["tagline"].tolist()):
    pattern = find_novel_from_tagline(text)
    phrases_with_novel_1.add(pattern)

print(phrases_with_novel_1)

{'Based on the best-selling novel', 'Based on the novel of Chico Xavier', 'Based on the novel by Henry James', 'The #1 novel of the year - now a motion picture!', None}

There were four movies based on novel for which the information was present in `tagline` column. Next, we will create a column `based_on_novel_1` that looks for those phrases from `tagline` column and returns True if the movie is novel based.

In [393]:
def find_novel_based_movie_1(tagline):
    try:
        match = re.search("(.*novel.*)", tagline)
        if match:
            return True
        else:
            return False
    except TypeError:
        return None
    
movies_novels["based_on_novel_1"] = movies_novels["tagline"].apply(find_novel_based_movie_1)  
movies_novels.head()

,id,original_title,keywords,tagline,based_on_novel_0,based_on_novel_1
0,135397,Jurassic World,monster|dna|tyrannosaurus rex|velociraptor|island,The park is open.,False,False
1,76341,Mad Max: Fury Road,future|chase|post-apocalyptic|dystopia|australia,What a Lovely Day.,False,False
2,262500,Insurgent,based on novel|revolution|dystopia|sequel|dyst...,One Choice Can Destroy You,True,False
3,140607,Star Wars: The Force Awakens,android|spaceship|jedi|space opera|3d,Every generation has a story.,False,False
4,168259,Furious 7,car race|speed|revenge|suspense|car,Vengeance Hits Home,False,False

We are only interested in finding whether a movie is based on novel. We are not concerned whether that information comes from `keywords` column or `tagline` column. We will create a single column `based_on_novel` from `based_on_novel_0` and `based_on_novel_1`. At the same time, we will now drop columns we don't need anymore.

In [394]:
movies_novels["based_on_novel"] = movies_novels["based_on_novel_0"] + movies_novels["based_on_novel_1"]
movies_novels.drop(["keywords", "tagline", "based_on_novel_0", "based_on_novel_1"], axis = 1, inplace = True)
movies_novels.head()

       id                original_title based_on_novel
0  135397                Jurassic World              0
1   76341            Mad Max: Fury Road              0
2  262500                     Insurgent              1
3  140607  Star Wars: The Force Awakens              0
4  168259                     Furious 7              0

We will now convert the `based_on_novel` column from integers to boolean. Before that, we need to check the different integer values that are there in the column beside 0 and 1. It is quite likely that information for movie based on a novel is present on both the columns- `keywords` and `tagline`. As a result, some of the values for `based_on_novel` might be two. Let's check that out.

In [395]:
print(movies_novels["based_on_novel"].unique())

[0 1 nan 2]

In [396]:
movies_novels[movies_novels['based_on_novel'] == 2]

          id original_title based_on_novel
10660  10671        Airport              2

In [397]:
movies.loc[movies['original_title'] == "Airport", ["original_title", "keywords", "tagline"]]

,original_title,keywords,tagline
10660,Airport,bomb|based on novel|airport|desperation|snow s...,The #1 novel of the year - now a motion picture!

In [398]:
int_to_bool = {0: 'False', 1: 'True', 2: 'True'}
movies_novels['based_on_novel'] = movies_novels['based_on_novel'].apply(int_to_bool.get)
movies_novels.head()

       id                original_title based_on_novel
0  135397                Jurassic World          False
1   76341            Mad Max: Fury Road          False
2  262500                     Insurgent           True
3  140607  Star Wars: The Force Awakens          False
4  168259                     Furious 7          False

Now we have our new column `based_on_novel` in a format that can be used for Tableau visualization. Let's drop the `keywords` and `tagline` columns in the original dataset and merge the movies_novels data subsets with the original movie dataset using `id` and `original_title`.

In [399]:
movies.drop(["keywords", "tagline"], axis = 1, inplace = True)

# We will use the merge function in pandas to merge the scraped data subsets and original movies dataset. 
# The merge function in pandas is similar to join in SQL.
movies = pd.merge(movies,
                  movies_novels,
                  how = "left",
                  left_on=["id", "original_title"],
                  right_on=["id", "original_title"])

movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,based_on_novel
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,False
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,False
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,True
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,False
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,False

**Question 2: How do the attributes differ between Universal Pictures and Paramount Pictures?** 
<br>
To answer this question we need to tidy up the `production_companies` column. Each row of `production_companies` column contains several production companies separated by | and there can be a maximum of five companies. We are interested in finding out whether a movie was produced by Universal Pictures, or Paramount Pictures, or None.

In [400]:
movies_production_companies = movies[["id", "original_title", "production_companies"]].reset_index(drop = True)
movies_production_companies.head()

,id,original_title,production_companies
0,135397,Jurassic World,Universal Studios|Amblin Entertainment|Legenda...
1,76341,Mad Max: Fury Road,Village Roadshow Pictures|Kennedy Miller Produ...
2,262500,Insurgent,Summit Entertainment|Mandeville Films|Red Wago...
3,140607,Star Wars: The Force Awakens,Lucasfilm|Truenorth Productions|Bad Robot
4,168259,Furious 7,Universal Pictures|Original Film|Media Rights ...

As I skimmed through the `production_companies` column, I noticed that Universal Studios was not named consistently - Universal Studios, Universal Pictures, Universal etc. In order to find out all the possible names of Universal Studios we could be dealing with, I wrote a script to search for the first occurrence of phrase with 'Universal' in each row. The function returns either the phrase with word Universal in it or None.

In [401]:
def find_Universal(production_company):
    try:
        match = re.search("(\|{0,1}[\w\s]*Universal[\w\s]*\|{0,1})", production_company)
        if match:
            return match.group(0)
        else:
            return None
    except TypeError:
        return None
    
words_with_Universal = set()
for text in set(movies_production_companies["production_companies"].tolist()):
    pattern = find_Universal(text)
    words_with_Universal.add(pattern)

print(words_with_Universal)

{'Universal Pictures', 'Universal Cable Productions|', 'Universal Cartoon Studios|', 'Universal 1440 Entertainment', '|Universal Home Entertainment', '|Universal Studios Home Entertainment|', '|Universal International Pictures ', '|Universal Cartoon Studios|', '|Universal 1440 Entertainment', 'Universal', '|Universal City Studios|', '|Universal CGI|', 'Universal TV', '|Universal Pictures International ', 'Universal Pictures Germany GmbH', 'Universal TV|', '|Universal Pictures', 'Universal Pictures International ', '|Universal Studios Home Entertainment', '|Universal Television', 'Universal Pictures Corporation', '|Universal City Studios', '|Universal Music', 'NBC Universal Television|', '|NBC Universal Global Networks|', 'Universal Home Entertainment', 'Universal Pictures|', '|Universal Family and Home Entertainment', '|Universal Studios Sound Facilities', 'Universal Studios|', '|Universal|', '|Universal Pictures|', 'Universal Studios Home Entertainment Family Productions|', '|Universal Network Television|', 'Universal Studios', 'NBC Universal Television', 'Universal Productions France S', 'Universal Cartoon Studios', 'Universal Studios Home Entertainment', None, '|Universal 1440 Entertainment|', '|Universal Home Video'}

Huh! there are several phrases with Universal in it. I googled to figure out if these were all divisions of the same company. The [wikipedia](https://en.wikipedia.org/wiki/Universal_Pictures) page states - "Universal Pictures (also referred to as Universal Studios or simply Universal) is an American film studio owned by Comcast through the Universal Filmed Entertainment Group division of its wholly owned subsidiary NBCUniversal." An extensive search revealed that these are all part of American multinational media conglomerate NBCUniversal.
<br>
I also wanted to go ahead and check if it was similar case for Paramount Pictures. I wrote a similar script to search for the first occurrence of phrase with 'Paramount' in each row.

In [402]:
def find_Paramount(production_company):
    try:
        match = re.search("(\|{0,1}[\w\s]*Paramount[\w\s]*\|{0,1})", production_company)
        if match:
            return match.group(0)
        else:
            return None
    except TypeError:
        return None
    
words_with_Paramount = set()
for text in set(movies_production_companies["production_companies"].tolist()):
    pattern = find_Paramount(text)
    words_with_Paramount.add(pattern)

print(words_with_Paramount)

{'|Paramount Television|', '|Paramount Pictures', 'Paramount Famous Productions', '|Paramount Classics', '|Paramount Home Entertainment', 'Paramount Vantage', 'Paramount Classics', 'Paramount Vantage|', '|Paramount Vantage|', 'Paramount Pictures|', 'Paramount Pictures', '|Paramount Classics|', 'Paramount|', '|Paramount Vantage', '|Paramount Pictures Digital Entertainment|', None, '|Paramount Animation', 'Paramount Home Entertainment', 'Paramount Pictures Digital Entertainment'}

As stated in [Wikipedia]() - "Paramount Pictures Corporation (also known as Paramount Pictures and simply Paramount) is an American film studio based in Hollywood, California, that has been a subsidiary of the American media conglomerate Viacom since 1994." These above-listed names are all subsidiaries of the same company. 
<br>
Now we can write some code to tag all the companies with Universal in their names as Universal and all the companies with Paramount in their names as Paramount, and neither as None for our purpose. To do this, I used a regular expression that searches for the first occurrence of Universal or Paramount in each row of `production_companies` column.

In [403]:
def find_Universal_or_Paramount(production_company):
    try:
        universal = re.search("(\|{0,1}[\w\s]*Universal[\w\s]*\|{0,1})", production_company)
        paramount = re.search("(\|{0,1}[\w\s]*Paramount[\w\s]*\|{0,1})", production_company)
        if universal:
            return "Universal"
        elif paramount:
            return "Paramount"
        else:
            return None
    except TypeError:
        return None

# Transform the original 'production_companies' to only keep relevant information
movies["production_companies"] = movies["production_companies"].apply(
    find_Universal_or_Paramount)

# We can see that the production_companies column has been transformed in the original dataset
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,based_on_novel
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,False
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,None,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,False
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,None,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,True
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,None,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,False
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,False

While we are here, let us also extract day, month, and day of the week information from the date column. We will create these three new columns in the original movies dataset itself. These attributes can be used for exploring the seasonal effect on movie's performance.

In [404]:
movies["release_month"] = pd.DatetimeIndex(movies["release_date"]).month
movies["release_month"] = movies["release_month"].apply(lambda x: calendar.month_abbr[x])
movies["release_day"] = pd.DatetimeIndex(movies["release_date"]).day
movies["release_dayofweek"] = pd.DatetimeIndex(movies["release_date"]).weekday_name
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,overview,...,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,based_on_novel,release_month,release_day,release_dayofweek
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,False,Jun,9,Tuesday
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,An apocalyptic story set in the furthest reach...,...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,False,May,13,Wednesday
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,Beatrice Prior must confront her inner demons ...,...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,True,Mar,18,Wednesday
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,...,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,False,Dec,15,Tuesday
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,False,Apr,1,Wednesday

We will also calculate two important metrics that we will use later for Tableau visualization.

In [405]:
movies["profit"] = movies["revenue"] - movies["budget"]
movies["profit (%)"] = (movies["revenue"] - movies["budget"])*100/movies["budget"]
movies["profit_adj"] = movies["revenue_adj"] - movies["budget_adj"]

In [406]:
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,overview,...,release_year,budget_adj,revenue_adj,based_on_novel,release_month,release_day,release_dayofweek,profit,profit (%),profit_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,...,2015,1.379999e+08,1.392446e+09,False,Jun,9,Tuesday,1363528810,909.019207,1.254446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,An apocalyptic story set in the furthest reach...,...,2015,1.379999e+08,3.481613e+08,False,May,13,Wednesday,228436354,152.290903,2.101614e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,Beatrice Prior must confront her inner demons ...,...,2015,1.012000e+08,2.716190e+08,True,Mar,18,Wednesday,185238201,168.398365,1.704191e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,...,2015,1.839999e+08,1.902723e+09,False,Dec,15,Tuesday,1868178225,934.089113,1.718723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,...,2015,1.747999e+08,1.385749e+09,False,Apr,1,Wednesday,1316249360,692.762821,1.210949e+09

Write the dataframe to csv file for Tableau visualization.

In [407]:
movies.to_csv('data/movies_cleaned.csv',
             index = False)

**Question 3: How have movie genres changed over time?** 
<br>
Problem: The `genres` column consists of multiple genres in the same cell separated by "|". To tidy this data up, we need to have one genre per row associated with their respective id. Instead of fixing the `genres` column for the entire dataset, I select few columns and make a subset of data to work with it.

In [408]:
movies_genres = movies[["id", "original_title", "genres"]].reset_index(drop = True)
movies_genres.head()

,id,original_title,genres
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller
2,262500,Insurgent,Adventure|Science Fiction|Thriller
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy
4,168259,Furious 7,Action|Crime|Thriller

First, we separate multiple genres associated with each movie into multiple columns. We know from the data specifications that there can be a maximum of five genres for each movie, so we will separate the `genres` column into five columns.

In [409]:
movies_genres[['genre1', 'genre2', 'genre3', 'genre4', 'genre5']] = movies_genres['genres'].str.split(
    "|", expand = True)
del movies_genres['genres']

The `genres` variable is now spread out across multiple columns and the data is in wide format. As a final tidying step, we will use pandas melt function to convert the dataset from wide to tall format.

In [410]:
movies_genres = pd.melt(movies_genres, id_vars = ["id", "original_title"],
                       value_name = "genres", var_name = "genre_n")

# Drop rows with no values in genres column
movies_genres.dropna(axis = 0, subset = ['genres'], inplace = True)

movies_genres.head()

       id                original_title genre_n     genres
0  135397                Jurassic World  genre1     Action
1   76341            Mad Max: Fury Road  genre1     Action
2  262500                     Insurgent  genre1  Adventure
3  140607  Star Wars: The Force Awakens  genre1     Action
4  168259                     Furious 7  genre1     Action

In [411]:
movies[movies["original_title"] == "3 Ninjas"]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,overview,...,release_year,budget_adj,revenue_adj,based_on_novel,release_month,release_day,release_dayofweek,profit,profit (%),profit_adj
8342,16314,tt0103596,0.233105,0,0,3 Ninjas,Victor Wong|Michael Treanor|Max Elliott Slade|...,NaN,Jon Turteltaub,"Each year, three brothers Samuel, Jeffrey and ...",...,1992,0.0,0.0,False,Aug,7,Friday,0,NaN,0.0

In [412]:
# Delete the original genres column in the movies dataset
del movies["genres"]

# Merge the dataframes
movies_cleaned_genres = pd.merge(movies,
                                 movies_genres,
                                 how = "right",
                                 left_on=["id", "original_title"],
                                 right_on=["id", "original_title"])

# Write the dataframe to csv file for Tableau visualization.
movies_cleaned_genres.to_csv('data/movies_cleaned_genres.csv',
                             index = False)

## References
1) [Scraping for craft beers](http://blog.kaggle.com/2017/01/31/scraping-for-craft-beers-a-dataset-creation-tutorial/)
<br>
2) [Tidy data in Python](http://www.jeannicholashould.com/tidy-data-in-python.html)