In [15]:
import sqlite3
conn = sqlite3.connect('data/osm.db3')

In [16]:
c = conn.cursor()

In [38]:
query = "SELECT value, COUNT (*) as num \
         FROM nodes_tags \
         WHERE key = 'amenity' \
         GROUP BY value \
         ORDER BY num DESC \
         LIMIT 10"
c.execute(query)
data =  c.fetchall()

In [39]:
for row in data:
    print row

(u'restaurant', 600)
(u'waste_basket', 598)
(u'place_of_worship', 418)
(u'fast_food', 387)
(u'bench', 359)
(u'fuel', 241)
(u'school', 219)
(u'bar', 120)
(u'cafe', 120)
(u'pharmacy', 88)

In [29]:
import pandas as pd
df = pd.DataFrame( [[ij for ij in i] for i in data] )
df.rename(columns={0: 'Ameneties', 1: 'Count'}, inplace=True);

In [32]:
df

           Ameneties  Count
0         restaurant    600
1       waste_basket    598
2   place_of_worship    418
3          fast_food    387
4              bench    359
5               fuel    241
6             school    219
7                bar    120
8               cafe    120
9           pharmacy     88
10              bank     78
11        grave_yard     66
12   bicycle_parking     59
13           parking     53
14           toilets     50
15      fire_station     49
16               atm     43
17               pub     39
18          post_box     37
19       post_office     35

In [64]:
y0 = [str(i) for (i,j) in data]
print y0

ValueError: too many values to unpack

In [65]:
x0 = [j for (i,j) in data]
print x0

ValueError: too many values to unpack

In [36]:
# Import plotly
import plotly.plotly as py
import plotly.graph_objs as go

# We can also do offline plotting using plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot

# Initiate the Plotly Notebook mode for plotting graphs offline inside a Jupyter Notebook Environment
#Run at the start of every ipython notebook to use plotly.offline. 
#This injects the plotly.js source files into the notebook.
init_notebook_mode(connected=True)

In [59]:
def plotly_barplot(x0, y0, ptitle):
    """Plots interactive barplot using plotly.
       x0 is a list representing names of each bar e.g.['male', 'female'].
       y0 is a list representing values for each bar e.g. [0.18, 0.74].
    """
    data = [go.Bar(
            x=x0,
            y=y0,
            orientation = 'h'
    )]
    layout = go.Layout(autosize = False, width = 500, height = 400,
                  title = ptitle)
    fig = go.Figure(data = data, layout = layout)
    iplot(fig)

In [61]:
plotly_barplot(x0, y0, 'Top 10 amenities')

In [63]:
data = [go.Bar(
            x=y0,
            y=x0,
            orientation = 'h'
)]

iplot(data, filename='horizontal-bar')