In [1]:
import sqlite3
conn = sqlite3.connect('data/osm.db3')

In [2]:
c = conn.cursor()

In [3]:
query = "SELECT value, COUNT (*) as num \
         FROM nodes_tags \
         WHERE key = 'amenity' \
         GROUP BY value \
         ORDER BY num DESC \
         LIMIT 10"
c.execute(query)
data =  c.fetchall()

In [83]:
print data

[(u'pharmacy', 88), (u'cafe', 120), (u'bar', 120), (u'school', 219), (u'fuel', 241), (u'bench', 359), (u'fast_food', 387), (u'place_of_worship', 418), (u'waste_basket', 598), (u'restaurant', 600)]

In [85]:
a = [1,2,3,4]
print a.reverse()

None

In [29]:
import pandas as pd
df = pd.DataFrame( [[ij for ij in i] for i in data] )
df.rename(columns={0: 'Ameneties', 1: 'Count'}, inplace=True);

In [32]:
df

           Ameneties  Count
0         restaurant    600
1       waste_basket    598
2   place_of_worship    418
3          fast_food    387
4              bench    359
5               fuel    241
6             school    219
7                bar    120
8               cafe    120
9           pharmacy     88
10              bank     78
11        grave_yard     66
12   bicycle_parking     59
13           parking     53
14           toilets     50
15      fire_station     49
16               atm     43
17               pub     39
18          post_box     37
19       post_office     35

In [53]:
y = [str(i) for (i,j) in data]
print y

['restaurant', 'waste_basket', 'place_of_worship', 'fast_food', 'bench', 'fuel', 'school', 'bar', 'cafe', 'pharmacy']

In [54]:
x = [j for (i,j) in data]
print x

[600, 598, 418, 387, 359, 241, 219, 120, 120, 88]

In [1]:
import sqlite3

In [2]:
def query_SQLite(query, db):
    """
    Fetches all results of the query from given SQLite database.
    Also extracts x and y values in separate lists for making plotly horizontal barplot.
    """
    conn = sqlite3.connect(db)
    c = conn.cursor()
    c.execute(query)
    rows =  c.fetchall()
    rows.reverse()
    # We can also close the connection if we are done with it.
    conn.close()
    y = [str(i) for (i,j) in rows]
    x = [j for (i,j) in rows]
    return y, x

In [3]:
query = "SELECT value, COUNT (*) as num \
         FROM nodes_tags \
         WHERE key = 'amenity' \
         GROUP BY value \
         ORDER BY num DESC \
         LIMIT 10"
y,x = query_SQLite(query, 'data/osm.db3')

In [4]:
print y
print x

['pharmacy', 'cafe', 'bar', 'school', 'fuel', 'bench', 'fast_food', 'place_of_worship', 'waste_basket', 'restaurant']
[88, 120, 120, 219, 241, 359, 387, 418, 598, 600]

In [5]:
# Import plotly
import plotly.plotly as py
import plotly.graph_objs as go

# We can also do offline plotting using plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot

# Initiate the Plotly Notebook mode for plotting graphs offline inside a Jupyter Notebook Environment
#Run at the start of every ipython notebook to use plotly.offline. 
#This injects the plotly.js source files into the notebook.
init_notebook_mode(connected=True)

In [6]:
def plotly_barplot(x, y, ptitle):
    """Plots interactive horizontal barplot using plotly.
       x is a list representing values for each bar e.g. [0.18, 0.74].
       y is a list representing names of each bar e.g.['male', 'female'].
    """
    data = [go.Bar(
            x=x,
            y=y,
            orientation = 'h',
            marker=dict(
                color='rgba(50, 171, 96, 0.6)',
                line=dict(
                    color='rgba(50, 171, 96, 1.0)',
                    width=1),
            )            
    )]
    
    layout = go.Layout(autosize = False, width = 700, height = 400,
                       xaxis = dict(zeroline = False),
                       margin = dict(l = 120),
                       title = ptitle)
    # Adding labels
    annotations = [dict(x=xi, y=yi,
                        text = str(xi),
                        showarrow = False,
                       ) for xi,yi in zip(x,y)]

    layout['annotations'] = annotations
    
    fig = go.Figure(data = data, layout = layout)
    iplot(fig)

In [7]:
plotly_barplot(x, y, 'Top 10 amenities')